@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    text-align:center;
    background: url("../img/pain.jpg");
    background-size: cover;
}

body#body.img-2{
    background: url("../img/sld.jpg");
    background-size: cover ;
}

#interaciones{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background: #ffd0d071 ;
    border-radius: 8px;
    border: 2px solid #3d0d49;
}

#interaciones h2{
    color: rgb(219, 23, 226);
}

#interaciones button{
    background: #d3a0eb;
    color: rgb(223, 17, 212);
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px solid #fff;
    font-size: 18px;
    cursor: pointer;
}

#cont-figura{
    width: 90%;
    margin: 0 auto ;
    padding: 30px;
    background: #0000004f ;
    border-radius: 8px;
    border: 2px solid #fff;
}

#cont-imagen{
    width: 90%;
    margin: 0 auto ;
    padding: 30px;
    background: #0000004f ;
    border-radius: 8px;
    border: 2px solid #fff;
}

#figura{
    width: 300px;
    height: 300px;
    background: rgb(169, 103, 230);
    margin: 20px auto;
    transition: 1s;
}

#figura.circulo {
    transform: rotate(-360deg);
    border-radius: 50%;
    background: rgb(9, 29, 94);
}

#figura.rectangulo {
    width: 600px;
    height: 150px;
    background: rgb(223, 20, 179);
    transition: 1s;
    transform: rotate(-360deg);
}

#figura.desgradado {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #4049c5, #af23c2);
}

.figura {
    width: 200px;
    height: 200px;
    background-color: #cc2a2a;
    position: relative;
    overflow: hidden;
}

.figura.ondas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e41459;
    transform: scale(1.5);
    border-radius: 50%;
    animation: ondas 3s linear infinite;
}

@keyframes ondas {
    0% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

#imagen.gif {
    background-image: url('/img/gif.jfif'); 
    width: 100%;
    background-position: center;
}

#figura.rombo {
    width: 200px;
    height: 200px;
    background: #320b52;
    transform: rotate(45deg);
}

#figura.triangulo {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.2px solid #089ac2;
}

#panel-lateral {
    width: 400px;
    height: 800px;
    position: absolute;
    left: -400px;
    top: 0;
    background:#cf82ee;
    z-index: 999;
    padding-top: 150px;
    padding-left: 40px;
    transition: .5s;
}
#panel-lateral.activo{
    left: 0;
}

#panel-lateral h3{
    color: #880e0e;
    font-size: 30px;
    text-align: left;
}

#panel-lateral a{
    display: block;
    padding: 20px;
    width: 220px;
    background: rgb(34, 27, 27);
    color: #e0b7ca;
    margin: 5px 0;
    text-decoration: none;
}

#panel-lateral .close{
    position: absolute;
    top: 20px;
    right: 40px;
    color: #bf10f5;
    font-size: 30px;
    text-decoration: none;
    background: transparent;
    border: 0;
}

/* panel superior*/ 
#panel-superior {
    width: 100%;
    height: 250px;
    position: absolute;
    top: -250px;
    left: 0;
    background: #ec9bdb;
    z-index: 999;
    padding-top: 20px;
    padding-left: 40px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel-superior.activo {
    top: 0;
}

#panel-superior iframe {
    width: 200px;
    max-height: 200px; /* Ajusta el tamaño del video según tus necesidades */
}

#panel-superior h3 {
    color: #a25be9;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

#panel-superior a {
    display: block;
    padding: 20px;
    width: 220px;
    background: rgb(205, 130, 235);
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
}

#panel-superior .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #f7a4e3;
    font-size: 30px;
    text-decoration: none;
    background: transparent;
    border: 0;
}